<div class="container p-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>

  
      @for (snackItem of filteredSnacks(); track $index) {
      <tr>
        <th scope="row">{{ $index }}</th>
        <td>{{ snackItem.name }}</td>
        <td>{{ snackItem.price | currency : 'USD' }}</td>
      </tr>
      }@empty { No snacks available that match the filter }
    </tbody>
  </table>
</div>
